<%= form_for :marathon, url: marathons_path, html: {role: "form"} do |f| %>
 <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
 
<div class="form-group">
    <%= f.label :duration %>
    <%= f.text_field :duration %>

</div>

<div class="form-group">
    <%= f.label :time_start %>
    <%= f.datetime_field :time_start %>
    <%= f.hidden_field :user_id, :value => session[:user_id] %>
</div>
 

    <%= f.submit %>

<% end %>